[Unit]
Description=Backend API
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
User=www-data
Environment="BACKEND_ENV={{ app_env }}"
Environment="FLASK_ENV={{ app_env }}"
Environment="ORACLE_HOME=/usr/lib/oracle/18.5/client64"
Environment="PATH=$PATH:/usr/lib/oracle/18.5/client64/bin"
Environment="LD_LIBRARY_PATH=/usr/lib/oracle/18.5/client64/lib"
Environment="TNS_ADMIN=/usr/lib/oracle/18.5/client64/network/admin/tnsnames.ora"
GIT_VERSION={{ git_version }}
GIT_ACTOR={{ git_actor }}
DEPLOYMENT_TIME={{ ansible_date_time.iso8601 }}
ExecStart=/bin/bash -c '{{ docroot }}/venv/bin/uwsgi --ini {{ docroot }}/ops/uwsgi.ini'
