[uwsgi]
http = 0.0.0.0:{{ uwsgi_port }}
plugin = python3
base = {{ docroot }}
chdir = %(base)
module = app:app
virtualenv = %(base)/venv
socket = %(base)/backend.sock
chmod-socket=774

master = true
processes = 5
threads = 5
vacuum = true
lazy-apps = true
disable-logging = true
die-on-term = true
buffer-size = 65535
