[Unit]
Description=Backend Portal
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
User=backend
Environment="FLASK_ENV=production"
ExecStart=/var/www/venv/bin/python /var/www/app.py

[Install]
WantedBy=multi-user.target
