# sudo ln -s /var/www/ops/backend.service /etc/systemd/system/backend.service

[Unit]
Description=Backend Portal
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
User=backend
Environment="FLASK_ENV=production"
ExecStart=/bin/bash -c '/var/www/venv/bin/python /var/www/app.py'

[Install]
WantedBy=multi-user.target
