# sudo ln -s /var/www/backend/backend-0/ops/backend.service /etc/systemd/system/backend.service

[Unit]
Description=Backend Portal
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
StartLimitBurst=5
User=root
Environment="FLASK_ENV=production"
Environment="BACKEND_ENV=production"
Environment="ORACLE_HOME=/usr/lib/oracle/18.3/client64"
Environment="PATH=$PATH:/usr/lib/oracle/18.3/client64/bin"
Environment="LD_LIBRARY_PATH=/usr/lib/oracle/18.3/client64/lib"
Environment="TNS_ADMIN=/usr/lib/oracle/18.3/client64/network/admin/tnsnames.ora"
ExecStart=/bin/bash -c '/var/www/venv/bin/python /var/www/backend/backend-0/app.py'
#ExecStart=/bin/bash -c '/usr/bin/python3 /var/www/backend/backend-0/app.py'

[Install]
WantedBy=multi-user.target
